@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEAD  IN SOME CASE I USED INLINE-CSS    */
/* 

font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;

*/

:root {
  --primary-color: #070211;
  --secondary-color: #f00;
  --third-color: rgba(7, 2, 17, 0.60);
}

/* * Common Style */

.head {
font-family: 'Inter', sans-serif;
color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.red-head {
  color: var(--secondary-color);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.btn {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
}

/**  Header > Welcome Party    */

header {
  border-radius: 10px;
  width: 1320px;
  height: 600px;
  margin: auto;
  margin-top: 70px;
  border: 1px solid white;
  /* background-image: url(asssets/Banner\ Image.png) ; */
  background: linear-gradient(to top, rgba(1, 1, 11, 0), rgb(0, 0, 0)),
    url(asssets/Banner\ Image.png);

  background-size:  cover;
  background-position: center;
}

.first-container {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}

.wel-first {
  text-align: center;
}

.wel-first h3 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-weight: 400;
}

.wel-first h1 {
  color: #fff;
  margin-top: 20px;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 95px;
}

/* * CATEGORIES- 65% OFF */

.categories {
  width: 1320px;
  margin: 150px auto;
  text-align: center;
}

.categories h1 {
  color: var(--secondary-color);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 45px;
}

/** Midnight Welcome Party  */

.midnight-party{
  height: 600px;
  width: 1320px;
  margin: 150px auto;
  background: linear-gradient(to left, rgba(1, 1, 11, 0), rgb(0, 0, 0)),
  url(asssets/Vectorrr.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.midnight-party h1{
    color: #fff;
font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
}

.midnight-party p  {
    color: rgba(255, 255, 255, 0.80);

    font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 650px;
margin-top: 20px;
}

.midnight-party img{
    width: 319.83px;
height: 464.662px;
margin-left: 50px;

}
.midnight-party div button{
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 40px;
}

/** INFORMATION */

.Information{

    height: 482px;
    width: 1320px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(255,230,230, 0), rgb(255,230,230));
}

.Information > p{
    color: var(--primary-color);
font-family: 'Inter', sans-serif ;
font-size: 32px;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}

.Information button{
    border: none;
    background-color: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 10px;
    margin-top: 35px;
}

/** COMING SOON OFFER  */

.best-offer{
    width: 1320px;
    height: 400px;
    margin: 120px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 200px;
}

.best-offer div:first-child {
    width: 380px;
}

.best-offer div:nth-child(3) {
    width: 260px;

}

.best-offer div p{
    color: var(--third-color);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
padding: 15px 0 40px 0;
}

.best-offer .wow img{
    /* width: 394.844px;
height: 394.844px; */
    border: 13px solid var(--secondary-color);
    border-radius: 50%; 
    padding: 25px;
    
}

/** Holiday Sale  */

.holidays-sale{
    width: 1320px;
    /* height: 400px; */
    margin: 200px auto;
}

.holidays-sale div:first-child{
    text-align: center;
}

.holidays-sale div:first-child h4{
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
margin-bottom: 10px;
}

.holidays-sale div:first-child h1{
    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 72px;
font-weight: 900;
margin-bottom: 15px;
}

.holidays-sale div:first-child p{
    color: var(--third-color);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 32px;
}

.sup-box{
    position: absolute;
    /* left: 0px; */
    top:80px;
    width: 700px;
}

/** AWESOME PORTFOLIO */

.portfolio{
    width: 1320px;
    margin: 200px auto;

}

.portfolio div p{
    width:800px ;
    color:var(--third-color);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.image-bundle{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/**  Subscribe NEwsletter */

.newsletter{

    height: 616px;
    width: 1320px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(to top, rgb(255,230,230), rgb(255,230,230));
}

.newsletter  img{
    width: 150px;
height: 150px;
margin-bottom: 40px;
}

.newsletter  h3{
    margin-bottom:22px ;
}

.newsletter p{
    color: var(--third-color) ;

text-align: center;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin-bottom: 40px;
}

.newsletter input{
    width: 400px;
    height:62px ;
    border-radius: 30px 0 0 30px;
}

.newsletter input[type="text"]{
    padding:30px ;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
border: none;
}    

.newsletter button{
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    /* height: 62px ; */
    margin-left: -10px;
    /* margin-bottom: -12px; */
    border: none;
    padding: 19px 50px;
    border-radius: 0 30px 30px 0;
}

/**  FOOTER */

footer{
    background: #070211
    ;
    color: white;
}

.main-content{
    width: 1320px;
    height: 630px;
    margin: auto;
}

.foot img{
    margin: -5px 10px;
}

.social-logo{
    display: flex ;
    justify-content: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
    gap: 25px;
    cursor: pointer;
}

.main-content hr{
    /* margin-top: 100px; */
    border: 0.1px solid rgb(49, 43, 43);
}